// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray: #777;
$color-black: #000;
$color-gray-light-1: #e7e7e7;


// GRID
$gutter-vertical: 5rem;
$gutter-horizontal: 2rem;